.active {
    text-decoration: 2px underline;
    font-weight: 500;
}

.bag:hover {
    color: #5C83CE;
    cursor: pointer;
}

.link,
.btn-outline-secondary {
    color: var(--fourth-color)
}

.link:hover {
    color: #5C83CE;
    cursor: pointer;
}

.btn-outline-secondary:hover {
    color: var(--third-color)
}

.btn-outline-secondary {
    border: solid 1px #dee2e6;
}

.fs-7 {
    font-size: 15px;
}

.fs-8 {
    font-size: 13px;
    line-height: 1rem;
}

.rounded {
    border-radius: 1rem !important;
    background-color: #f8f9fa;

}

.productLabel {
    position: relative;
    left: 0;
    top: 0;
}

.paddingTop {
    padding-top: 2px;
}

.img-fluid,
.card {
    border: 1px solid var(--third-color);
    background-color: var(--secondary-color);
    border-radius: 25px;
    color: var(--text-color);
}