<div class="container mt-4" id="main-content">
    <!-- FAQ Page Content -->
    <div id="faq">
        <div class="row text-center mx-4">
            <h4 class="mt-2">FREQUENTLY ASKED QUESTIONS</h4>
            <p>Please reach us at <a class="emailLink" href="mailto:info@acecloset.bz">info&#64;AceCloset.bz</a> if you
                cannot find an
                answer to your question.</p>
        </div>

        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2 ">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionOne" role="button"
                    aria-expanded="false" aria-controls="questionOne" onclick="toggleIcon(this)">
                    1) How do I create an account?
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionOne">
                    <div class="card p-4 text-center">
                        Please click the Register button located at the top-right corner of the page. Follow the
                        instructions and fill in all the required fields. Once your account is created, you will receive
                        an automated message on WhatsApp.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>

        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionTwo" role="button"
                    aria-expanded="false" aria-controls="questionTwo" onclick="toggleIcon(this)">
                    2) What payment methods do you accept?
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionTwo">
                    <div class="card p-4 text-center">
                        We accept eKyash, Digi Wallet, Visa/Mastercard Debit and Credit Cards. As well as Direct Bank
                        Deposit.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>

        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2 ">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionThree" role="button"
                    aria-expanded="false" aria-controls="questionThree" onclick="toggleIcon(this)">
                    3) How can I track my order? <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionThree">
                    <div class="card p-4 text-center">
                        All orders are shipped using the courier service selected at checkout. Once your order has been
                        shipped, the courier will provide tracking updates.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>

        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2 ">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionFour" role="button"
                    aria-expanded="false" aria-controls="questionFour" onclick="toggleIcon(this)">
                    4) What should I do if I forget my password? <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionFour">
                    <div class="card p-4 text-center">
                        If you forget your password, click on the "Forgot Password" link on the login page. Follow the
                        instructions to reset your password, and you’ll receive a WhatsApp message with a link to create
                        a new one.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>

        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2 ">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionFive" role="button"
                    aria-expanded="false" aria-controls="questionFive" onclick="toggleIcon(this)">
                    5) How do I contact customer support? <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionFive">
                    <div class="card p-4 text-center">
                        For Assistance: <br>
                        Email: info&#64;AceCloset.bz <br>
                        WhatsApp: 628-9704 <br>
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>

        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2 ">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionSix" role="button"
                    aria-expanded="false" aria-controls="questionSix" onclick="toggleIcon(this)">
                    6) Can I make changes to my order after placing it? <svg xmlns="http://www.w3.org/2000/svg"
                        height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionSix">
                    <div class="card p-4 text-center">
                        Yes, you can make changes to your order within 30 minutes of placing it. After that, the order
                        will be processed and no further changes can be made.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>

        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2 ">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionSeven" role="button"
                    aria-expanded="false" aria-controls="questionSeven" onclick="toggleIcon(this)">
                    7) What are your shipping options? <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionSeven">
                    <div class="card p-4 text-center">
                        We provide country-wide shipping with BPMS, IDS, Ezy and the Post Office.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>

        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionEight" role="button"
                    aria-expanded="false" aria-controls="questionEight">
                    8) How long will my order take to arrive? <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionEight">
                    <div class="card p-4 text-center">
                        The delivery time depends on the courier service you selected at checkout. You will receive an
                        estimated delivery date at checkout.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionNine" role="button"
                    aria-expanded="false" aria-controls="questionEight">
                    9) How can I change my shipping address? <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionNine">
                    <div class="card p-4 text-center">
                        You can change your shipping address under the Settings section of your user profile. However,
                        if an order has already passed the 30-minute modification window, the shipping address cannot be
                        changed for that order.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row mx-4">
            <div class="col-md"></div>
            <div class="col-sm col-md-7 mt-2 mb-4">
                <a class="btn w-100  text-start faq" data-bs-toggle="collapse" href="#questionTen" role="button"
                    aria-expanded="false" aria-controls="questionTen">
                    10) What should I do if I receive a damaged or incorrect item? <svg
                        xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#000000">
                        <path
                            d="M481-359.92q-10.23 0-18.46-3.31t-15.85-10.92L262.92-557.92q-12.3-12.31-12.5-29.89-.19-17.57 12.5-30.27 12.7-12.69 30.08-12.69t30.08 12.69L481-460.15l157.92-157.93q12.31-12.3 29.89-12.5 17.57-.19 30.27 12.5 12.69 12.7 12.69 30.08t-12.69 30.08L515.31-374.15q-7.62 7.61-15.85 10.92-8.23 3.31-18.46 3.31Z" />
                    </svg></a>
                <div class="collapse multi-collapse" id="questionTen">
                    <div class="card p-4 text-center">
                        If you receive a damaged or incorrect item, please contact us via WhatsApp at 628-9704, and we
                        will resolve the issue promptly.
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
</div>