<mat-dialog-content class="mat-typography">
    <div class="row d-flex justify-content-end p-2">
        <button mat-dialog-close class="btn-close" aria-label="Close"></button>
    </div>
    <div class="row">
        <div class="col pb-2">
            <div id="carouselIndicatorsQuickView" class="carousel slide">
                <div class="carousel-indicators">
                    @for(img of product.imagesURL; track img; let index = $index){
                    <button type="button" data-bs-target="#carouselIndicatorsQuickView" [attr.data-bs-slide-to]="index"
                        [class]="{ 'active': index == 0 }"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for(img of product.imagesURL; track img; let index = $index){
                    <div class="carousel-item" [class.active]="index == 0">
                        <img [src]="img" class="d-block productImage" alt="product Image">
                    </div>
                    }

                </div>
                @if(product.imagesURL.length > 1){
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicatorsQuickView"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicatorsQuickView"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                }
            </div>
        </div>
        <div class="col pb-2">
            <h1 class="mb-0 fw-medium">{{product.productName}}</h1>
            @if(product.discountPercentage > 0){
            <span class="d-flex align-items-center">
                <h2 class="mb-0 fw-medium text-danger">(-{{product.discountPercentage}}%)</h2>
                &nbsp;
                <h2 class="mb-0 fw-medium text-danger text-center">${{product.price - (product.price *
                    (product.discountPercentage /
                    100)) | number:'1.2-2'}}</h2>
            </span>
            <h2 class="mb-0 fw-medium diagonal-strike ">${{product.price | number:'1.2-2'}}</h2>
            }@else {
            <h2 class="mb-0 fw-medium">${{product.price | number: '1.2-2'}}</h2>
            }

            <h6 class="gstFont m-0">+ GST AT CHECKOUT</h6>
            <mat-divider class="my-3"></mat-divider>
            <h5 class="fw-medium fs-7">
                Color: <div class="mt-2 productDetialColor" [style]="{ 'background-color': product.productColor }">
                </div>
            </h5>
            <h5 class="mb-0 fw-medium fs-7">Size:</h5>
            <div class="size-buttons mt-2">
                <button class="size-btn" [disabled]="!isSizeApplicable('X-Small')"
                    [class.disable]="!isSizeApplicable('X-Small')" [class.active]="selectedSize === 'X-Small'"
                    (click)="SizeSelected('X-Small')">XS</button>

                <button class="size-btn" [disabled]="!isSizeApplicable('Small')"
                    [class.disable]="!isSizeApplicable('Small')" [class.active]="selectedSize === 'Small'"
                    (click)="SizeSelected('Small')">S</button>

                <button class="size-btn" [disabled]="!isSizeApplicable('Medium')"
                    [class.disable]="!isSizeApplicable('Medium')" [class.active]="selectedSize === 'Medium'"
                    (click)="SizeSelected('Medium')">M</button>

                <button class="size-btn" [disabled]="!isSizeApplicable('Large')"
                    [class.disable]="!isSizeApplicable('Large')" [class.active]="selectedSize === 'Large'"
                    (click)="SizeSelected('Large')">L</button>

                <button class="size-btn" [disabled]="!isSizeApplicable('X-Large')"
                    [class.disable]="!isSizeApplicable('X-Large')" [class.active]="selectedSize === 'X-Large'"
                    (click)="SizeSelected('X-Large')">XL</button>

                <button class="size-btn lg" [disabled]="!isSizeApplicable('One Size')"
                    [class.disable]="!isSizeApplicable('One Size')" [class.active]="selectedSize === 'One Size'"
                    (click)="SizeSelected('One Size')">One Size</button>

            </div>
            <!-- Quantity Dropdown -->
            <h5 class="mb-0 mt-3 fw-medium fs-7">Quantity:
                @if(product.quantity === 0){
                <span class="productLabel">Out of Stock</span>
                } @else if(product.quantity === 1){
                <span class="productLabel">Last One</span>
                }
            </h5>
            <div class="row">
                <div class="col d-flex align-items-center">
                    <select #qtyRef class="quantity-select my-2 me-1">
                        @for(qty of quantityOptions; track qty; let index = $index){
                        <option [value]="qty" [selected]="qty == 1">{{qty}}</option>
                        }
                    </select>
                    <!-- Add to Cart and Add to Favorite buttons -->
                    <div class="col-auto prodCart mx-2 d-flex align-items-center">
                        @if(addingToCart){
                        <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
                        <mat-icon aria-label="shopping_cart">shopping_cart</mat-icon>
                        } @else{
                        <a (click)="addToCart(product.id, qtyRef.value)">
                            Add to Cart
                            <mat-icon aria-label="shopping_cart">shopping_cart</mat-icon></a>
                        }
                    </div>
                    <div class="col-auto prodHeart p-0 d-flex align-items-center">
                        @if(addingToWishlist){
                        <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
                        <mat-icon aria-label="favorite">favorite</mat-icon>
                        } @else{
                        <a (click)="addToWishlist(product.id, qtyRef.value)"><mat-icon
                                aria-label="favorite">favorite</mat-icon></a>
                        }
                    </div>
                </div>
            </div>
            @if(addingError){
            <div class="alert alert-danger mt-2 py-2 text-center" role="alert">
                {{addingError}}
            </div>
            }
            @if(addingSuccess){
            <div class="alert alert-success mt-2 py-2 text-center" role="alert">
                {{addingSuccess}}
            </div>
            }
            <h5 class="fw-medium mt-3 fs-7">
                Description:
                <p class="fw-normal pt-2">{{product.description}}</p>
            </h5>
            <div class="col-auto d-flex justify-content-center pt-2">
                <button type="button" class="btn btn-primary d-flex align-items-center" (click)="viewItem(product.id)">
                    See Product Detials &nbsp;<mat-icon aria-label="arrow_back" class="my-auto">arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-dialog-content>