.navbar {
  background-color: #f8f9fa;
}

.colorBlack {
  color: rgb(0, 0, 0);
}

.colorBlack:hover {
  color: #5C83CE;
}


.linkBtn {
  color: black;
  text-decoration: none;
}

.linkBtn:hover {
  text-decoration: underline;
  color: #5C83CE;
}

.btn-outline-secondary {
  border-color: #dee2e6;
}

.btn-outline-secondary:hover {
  background-color: #5C83CE;
}

a:hover {
  cursor: pointer;
}

.matbadge {
  color: black;
}

.smallImageIcon {
  height: 3rem;
  width: auto;
}

.list-group-item-action:hover {
  cursor: pointer;
}

.list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.w-auto {
  width: 91% !important;
}

.nav-link {
  color: black;
  font-size: 15px;
  font-weight: 500;

  &::after {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    height: 0.2em;
    background-color: #5C83CE;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 0.2s;
  }

  &:hover {
    &::after {
      transform: scaleX(1.1);
    }

  }
}


.sideNavHidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  background-color: #f8f9faf8;
  z-index: 9999;

  .navbar {
    background-color: #f8f9fa00;

  }
}

.close:hover {
  color: red;
}

.forgotPwdLink {
  text-decoration: none;
  color: rgb(107, 107, 107);
}

.forgotPwdLink:hover {
  color: #557bc2;
}

@media only screen and (max-width: 767px) {
  .w-auto {
    width: 88% !important;
  }
}