<nav class="navbar navbar-expand-lg p-4 pb-2 px-2">
    <div class="container-fluid">
        <div class="col-auto"></div>
        <div class="col-sm-8">
            <div class="row justify-content-center">
                <!-- Logo and Company Name -->
                <div class="col-auto d-flex align-items-center d-block d-lg-none p-0">
                    <button class="btn px-0" type="button" aria-label="Toggle navigation" (click)="toggleSideNav()">
                        <mat-icon aria-label="menu">menu</mat-icon>
                    </button>
                </div>
                <div class="col-auto col-sm-auto d-flex align-items-center px-4">
                    <a routerLink="/">
                        <img src="../../../assets/logo.png" alt="logo" height="auto" width="60px">
                    </a>
                    <a routerLink="/" class="navbar-brand me-0">
                        <h1 class="m-2 fs-2" style="font-family: 'Times New Roman', serif;">
                            Ace Closet
                        </h1>
                    </a>
                </div>
                <div class="col-auto d-flex align-items-center d-block d-lg-none p-0">
                    <div class="col-auto ">
                        <a routerLink="/wish-list"><mat-icon class="colorBlack"
                                aria-label="favorite">favorite</mat-icon></a>
                    </div>
                    <div class="col-auto px-2">
                        <a routerLink="/cart"><mat-icon class="colorBlack" matBadge="0" matBadgeSize="small"
                                matBadgeColor="warn" matBadgeOverlap="true" aria-hidden="false"
                                aria-label="shopping_cart">shopping_cart</mat-icon></a>
                    </div>
                </div>

                <!-- Search -->
                <div class="col-lg input-group my-2 px-4 position-relative">
                    <input type="text" placeholder="Search..." class="form-control" [formControl]="searchText"
                        (input)="onSearchInput()" (keydown.enter)="onSearchSubmit()" aria-label="Search"
                        autocomplete="none" />
                    <button class="btn btn-outline-secondary input-group-text d-flex align-items-center" type="button"
                        (click)="onSearchSubmit()">
                        <mat-icon aria-label="search">search</mat-icon>
                    </button>
                    <br>
                    <!-- Search Suggestions -->
                    @if(searchSuggestions.length > 0){
                    <ul class="list-group position-absolute w-auto z-3" style="top: 100%;">
                        @for( product of searchSuggestions; track product){
                        <li class="list-group-item list-group-item-action d-flex align-items-center"
                            (click)="goToProduct(product)">
                            <img [src]="product.imagesURL[0]" alt="Product Image" class="me-2 smallImageIcon" />
                            <span>{{ product.productName }} - {{ product.size }} &nbsp;</span>
                            <div class="d-flex align-items-center">
                                <span class="rounded-circle border"
                                    [style]="{ 'background-color': product.productColor }"
                                    style="width: 15px; height: 15px; display: inline-block;">
                                </span>
                            </div>
                        </li>
                        }
                    </ul>
                    }
                </div>

                <!-- login, signup, fav, cart -->
                <div class="col-sm-auto d-flex align-items-center d-none d-sm-none d-lg-block ">
                    <div class="row my-2 py-2">
                        <div class="col-auto ">
                            <span class="d-flex align-items-center"><mat-icon aria-label="person">person</mat-icon> <a
                                    class="linkBtn" data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</a>
                                &nbsp;/&nbsp;
                                <a class="linkBtn" data-bs-toggle="modal"
                                    data-bs-target="#registerModal">Register</a></span>
                        </div>
                        <div class="col-auto px-0">
                            <a routerLink="/wish-list"><mat-icon class="colorBlack"
                                    aria-label="favorite">favorite</mat-icon></a>
                        </div>
                        <div class="col-auto">
                            <a routerLink="/cart"><mat-icon class="colorBlack" matBadge="0" matBadgeSize="small"
                                    matBadgeColor="warn" matBadgeOverlap="true" aria-hidden="false"
                                    aria-label="shopping_cart">shopping_cart</mat-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-auto pt-2  d-none d-lg-block">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link" href="/category/all">All</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/category/T-Shirts">T-Shirts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/category/Shorts">Shorts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/category/Jeans">Jeans</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/category/Shoes">Shoes</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/category/Accessories">Accessories</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/tags/New Arrival">New Arrival</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/tags/Sale">Sale</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#contactUsModal">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-auto"></div>
    </div>
</nav>

@if(sideNavHidden){
<div class="sideNavHidden p-4 ">
    <div class="row">
        <div class="col d-flex align-items-center text-center">
            <span class="d-flex align-items-center text-center"><mat-icon aria-label="person">person</mat-icon>
                <a class="linkBtn" data-bs-toggle="modal" data-bs-target="#signInModal" (click)="toggleSideNav()">Sign
                    In</a>
                &nbsp;/&nbsp;
                <a class="linkBtn" data-bs-toggle="modal" data-bs-target="#registerModal"
                    (click)="toggleSideNav()">Register</a></span>
        </div>
        <div class="col-1 p-0">
            <button type="button" class="btn-close" (click)="toggleSideNav()" aria-label="Toggle navigation"></button>
        </div>

    </div>
    <div class=" pt-2  navbar ">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/category/all">All</a>
            </li>
            <li>
                <a class="nav-link" href="/category/tops">Tops</a>
            </li>
            <li>
                <a class="nav-link" href="/category/bottoms">Bottoms</a>
            </li>
            <li>
                <a class="nav-link" href="/category/jeans">Jeans</a>
            </li>
            <li>
                <a class="nav-link" href="/category/shoes">Shoes</a>
            </li>
            <li>
                <a class="nav-link" href="/category/new-arrival">New Arrival</a>
            </li>
            <li>
                <a class="nav-link" href="/category/accessories">Accessories</a>
            </li>
            <li>
                <a class="nav-link" href="/category/sale">Sale</a>
            </li>
            <li>
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li>
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#contactUsModal"
                    (click)="toggleSideNav()">Contact Us</a>
            </li>
        </ul>
    </div>
</div>}

<!-- Modal Contact Us-->
<div class="modal fade" id="contactUsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 mb-0 ms-2 fw-medium" id="contactUsModal">
                    Contact Us
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col px-4 pb-4 text-center ">
                    <h3 class="mb-0 fw-medium">
                        info&#64;AceCloset.bz
                    </h3>
                    <h3 class="fw-medium">+501 628-9704</h3>

                    <a href=" https://wa.me/5016289704" target=”_blank”><img src="../../../assets/whatsapp-logo.png"
                            class="me-1" alt="Facebook Icon" height="auto" width="25px"></a>
                    <a href="https://www.facebook.com/AceClosetBz" target=”_blank”><img
                            src="../../../assets/facebook-logo.png" class="mx-1" alt="Facebook Icon" height="auto"
                            width="25px"></a>
                    <a href="https://www.instagram.com/acecloset.bz/" target=”_blank”><img
                            src="../../../assets/instagram-logo.png" class="ms-1" alt="Instagram Icon" height="auto"
                            width="25px"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sign In-->
<div class="modal fade" id="signInModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="signInForm" (ngSubmit)="submitLogin()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col d-flex justify-content-center">
                            <img src="../../../assets/logo.png" alt="logo" height="auto" width="70px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h1 class="fw-medium mb-2">Sign In</h1>
                        </div>
                    </div>
                    @if(signInFormError){
                    <div class="row">
                        <div class="col d-flex justify-content-center text-center">
                            <p class="error text">{{signInFormError}}</p>
                        </div>
                    </div>
                    }
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email"
                                    formControlName="signInEmail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="signInPassword">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <button type="button" class="btn btn-light mx-2" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                            <button type="submit" class="btn btn-primary mx-2">Login</button>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col d-flex justify-content-center">
                            <a class="forgotPwdLink" data-bs-target="#forgotPwdModal" data-bs-toggle="modal">Forgot
                                Password?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPwdModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="resetForm" (ngSubmit)="submitReset()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col d-flex justify-content-center">
                            <img src="../../../assets/logo.png" alt="logo" height="auto" width="70px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h1 class="fw-medium mb-2">Reset Password</h1>
                        </div>
                    </div>
                    @if(resetFormError){
                    <div class="row">
                        <div class="col d-flex justify-content-center text-center">
                            <p class="error">{{resetFormError}}</p>
                        </div>
                    </div>
                    }
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email"
                                    formControlName="resetEmail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <button type="button" class="btn btn-light mx-2" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                            <button type="submit" class="btn btn-primary mx-2">Reset</button>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col d-flex justify-content-center">
                            <a class="forgotPwdLink" data-bs-target="#signInModal" data-bs-toggle="modal">Sign In?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Register-->
<div class="modal fade" id="registerModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col d-flex justify-content-center">
                            <img src="../../../assets/logo.png" alt="logo" height="auto" width="70px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h1 class="fw-medium mb-2">Create an Account</h1>
                        </div>
                    </div>
                    @if(registerFormError){
                    <div class="row">
                        <div class="col d-flex justify-content-center text-center">
                            <p class="error">{{registerFormError}}</p>
                        </div>
                    </div>
                    }
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Full Name"
                                    formControlName="registerFullName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email"
                                    formControlName="registerEmail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="registerPassword">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Verify Password"
                                    formControlName="registerVerifyPassword">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col d-flex justify-content-center">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Phone Number"
                                    formControlName="registerPhoneNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col d-flex justify-content-center">
                            <button type="button" class="btn btn-light mx-2" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                            <button type="submit" class="btn btn-primary mx-2">Sign Up</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>