<div class="container-fluid footer pt-2">
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-12 col-md-12 col-lg-4 px-4 pb-2">
                <div class=" d-flex justify-content-center mb-3">
                    <img src="../../../assets/aceClosetLogo.png" alt="Logo" height="auto" width="90px">
                </div>
                <p class="text-center">
                    Placing Customers at the Heart of Our Unique Business Model, Offering Unmatched Affordability
                    and
                    Excellence.
                </p>

            </div>

            <div class="d-none d-md-block col px-4 ">
                <h5 class="text-uppercase colHeading mb-3">
                    Navigation
                </h5>
                <p>
                    <a class="navLink" href="/category/all">All</a>
                </p>
                <p>
                    <a class="navLink" href="/category/sale">Sale</a>
                </p>
                <p>
                    <a class="navLink" href="/category/new-arrival">New Arrival</a>
                </p>
                <p>
                    <a class="navLink" href="/category/accessories">Accessories</a>
                </p>
            </div>

            <div class="col px-4">
                <h5 class="text-uppercase colHeading mb-3">
                    Customer Service
                </h5>
                <p>
                    <a class="navLink" href="/faq">FAQ</a>
                </p>
                <p>
                    <a class="navLink" href="/settings">Settings</a>
                </p>
                <p>
                    <a class="navLink" href="/orders">Orders</a>
                </p>
            </div>

            <div class="col px-4 contactUs">
                <!-- Links -->
                <h5 class="text-uppercase colHeading mb-3">
                    Contact Us
                </h5>
                <p>Belmopan City, Belize</p>
                <p>
                    info&#64;AceCloset.bz
                </p>
                <p>+501 628-9704</p>

                <a href="https://wa.me/5016289704" target=”_blank”><img src="../../../assets/whatsapp-logo.png"
                        class="me-1" alt="Facebook Icon" height="auto" width="25px"></a>
                <a href="https://www.facebook.com/AceClosetBz" target=”_blank”><img
                        src="../../../assets/facebook-logo.png" class="mx-1" alt="Facebook Icon" height="auto"
                        width="25px"></a>
                <a href="https://www.instagram.com/ace_closet_bz/" target=”_blank”><img
                        src="../../../assets/instagram-logo.png" class="ms-1" alt="Instagram Icon" height="auto"
                        width="25px"></a>
            </div>
        </div>

        <div class="row pt-4">
            <div class="text-center pb-4">
                Copyright 2024 © - <a class="navLink fw-medium" href="https://acecloset.bz/">Ace Closet BZ</a> - All
                Rights
                Reserved
            </div>
        </div>
    </div>
</div>