.footer {
    background-color: #f8f9fa;
}

h5 {
    font-size: 14px;
}



.colHeading {
    font-weight: 600;
    font-size: 15px;

}

.contactUs {
    font-weight: 500;
    color: rgb(45, 45, 45);
}