.footer {
    background-color: #f8f9fa;
}

h5 {
    font-size: 14px;
}

.navLink {
    text-decoration: none;
    color: rgb(45, 45, 45);
    font-weight: 500;
}

.navLink:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #5C83CE;
}

.colHeading {
    font-weight: 600;
    font-size: 15px;

}

.contactUs {
    font-weight: 500;
    color: rgb(45, 45, 45);
}