/* ============================= */
/* Footer Styling (Light & Dark) */
/* ============================= */

.footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px 0;
    box-shadow: var(--card-shadow);
}

.footer h5 {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
}

.colHeading {
    font-weight: 600;
    font-size: 15px;
    color: var(--primary-color);
}

.contactUs {
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.contactUs:hover {
    color: var(--primary-color);
    cursor: pointer;
}