<app-header></app-header>
<div class="container p-4 mt-4">
    <div class="d-flex justify-content-center mt-2">
        <div class="d-flex flex-column align-items-center">
            <img src="../assets/misc-under-maintenance.png" alt="misc-error" class="img-fluid z-1" width="360">
        </div>
    </div>
    <h1 class="mb-0 fs-1 text-center pt-4">404</h1>
    <h2 class="text-center">Page Not Found.</h2>
    <p class="mb-10 mx-2 text-center ">Please check the URL or go back to the Home Page.
        <br>

    </p>
    <div class="mb-10 mx-2 text-center d-flex justify-content-center py-3">
        <button type="button" class="btn d-flex align-items-center" routerLink="/"><mat-icon
                class="me-2">arrow_back</mat-icon>
            Home
            Page</button>
    </div>
</div>
<app-footer></app-footer>